{% extends '_layouts/base.njk' %}

{% block page_title %}Official Band Page{% endblock %}

{% block content %}

<div class="container">
  <h3> The Band </h3>
    <p>
        Queen are a British rock band that formed in London in 1970. Their classic line-up was Freddie Mercury (lead vocals and piano), Brian May (lead guitar and vocals), Roger Taylor (drums and vocals), and John Deacon (bass guitar). Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock, into their music.
    - Source: <a href=https://en.wikipedia.org/wiki/Queen_(band)>Wikipedia</a></p>
<h3> Meet the Members </h3>
<div class="row meet-the-members">
        {% for member in members %}
              <div class="col-md-3">
                <div class="card">
                <a href={{members.slug}}.html>
                <img class= "card-img-top img-responsive" src="assets/img/members/{{member.imagebw}}">
                <div class="card-body">
                  <h5 class="card-title text-center">{{member.name}}</h5>
                  <p class="member-card-text text-center">{{member.instruments}}</p>
              </div>
              </a>
              </p>
              </div>

              </div>
          {% endfor %}
            </div>

<h3> Discography </h3>
          <div class="row discography">

        {% for disc in discography%}
        <div class="row">
        <div class="column">
          <img class="disc-img-card img-responsive" src=../assets/img/discs/{{disc.image}}>
          <h5 class="disc-title-year text-center"> {{disc.title}}, {{disc.year}}</h5>
        </div>
      </div>
                      
          {% endfor %}
          </ul>

          </div>
        </div>
      </div>

          {% endblock %}

