<div class="topnav">
  <a class="nav-item" href="index.html">Home</a>
  <a class="nav-item" href="freddie-mercury.html">Freddie Mercury</a>
  <a class="nav-item" href="brian-may.html">Brian May</a>
  <a class="nav-item" href="roger-taylor.html">Roger Taylor</a>
  <a class="nav-item" href="john-deacon.html">John Deacon</a>
</div>
