

/* The sidebar menu */
.topnav {
    background-color:white; 
    font-size: 25pt;
    padding: 0px 0px 0px;
}

.nav-item {
    color:black;
    font-family:'Cinzel', serif;
    font-weight: bold;
    font-size: 15pt;
    padding: 0px 60px 40px;
}

/* When you mouse over the navigation links, change their color */
.topnav a:hover {
    color: #6305f0;
}


