

/* The sidebar menu */
.topnav {
    background-color:black; 
    font-size: 25pt;
    padding: 0px 0px 0px;
}

.nav-item {
    color:white;
    font-family:'Cinzel', serif;
    font-weight: bold;
    font-size: 20pt;
    padding: 0px 40px 40px;
}

/* When you mouse over the navigation links, change their color */
.topnav a:hover {
    color: #6305f0;
}


