.jumbotron.banner {
    background: url(../assets/img/queen-band-wallpaper-thin.png) no-repeat center;
    background-size: cover;
  }


  .jumbotron {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    height: 450px;
	  width: auto;
  }

  

