// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

$body-bg: white;
$body-color: black;


/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";

h1 {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    color: black;
}

h3 {
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.container {
    margin-bottom: 20px;
}

.p {
    font-size: 2rem;
}

.card-img-top {
    max-width: 100%;
    width: auto;
    height: auto;
}

.card {
    height: 550px;
    width: 270px;
    border-width: 7px;
    border-color: black;
    background-color: white;
    margin-bottom: 20px;
}

.card-title {
    color: #6305f0;
    font-weight: bold;
}

a {
    color: #6305f0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

a:hover {
    color: #6305f0;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    padding: 40px;
  }

  h5 {
    overflow-wrap: break-all;
    margin-left: inherit;
  }

  .member-card-text {
      color: #6305f0;
  }
  
  .disc-img-card {
    padding: 10px;
    background-color:  #6305f0;
    margin-bottom: 10px;
  }

.detail-img {
    max-height: 35%;
    max-width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #6305f0;
}

.detail-name {
    text-align: center;
    margin-top: 20px;
}

.detail-details {
    text-align: center;
}